<div class="rxjs-container">
    <h2>RxJS Demo</h2>
  
    <h3>All Products</h3>
    <ul>
      <li *ngFor="let product of products; trackBy: trackById">{{ product.name }} - ${{ product.price }}</li>
    </ul>
  
    <h3>Filtered Products (Price > $30)</h3>
    <ul>
      <li *ngFor="let product of filteredProducts">{{ product.name }} - ${{ product.price }}</li>
    </ul>
  
    <h3>Live Product Stream (Updates Every 3 Sec)</h3>
    <p *ngIf="currentProduct">{{ currentProduct.name }} - ${{ currentProduct.price }}</p>
  </div>
  